# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
venv/
.venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log